proyecto_prueba/prueba_backend/prueba_backend_sql-ejb/target/
proyecto_prueba/prueba_backend/prueba_backend-web/target/
proyecto_prueba/prueba_backend/prueba_backend-ear/target/
proyecto_prueba/prueba_backend/prueba_backend-ejb/target/
proyecto_prueba/prueba_backend/prueba_backend_client-jar/target/
proyecto_prueba/prueba_base_backend/target/
/work_frontend/work_frontend-ear/target/
/work_frontend/work_frontend-web/target/
/work_frontend/work_frontend-ejb/target/
