proyecto_prueba/prueba_backend/prueba_backend_sql-ejb/target/
proyecto_prueba/prueba_backend/prueba_backend-web/target/
proyecto_prueba/prueba_backend/prueba_backend-ear/target/
proyecto_prueba/prueba_backend/prueba_backend-ejb/target/
proyecto_prueba/prueba_backend/prueba_backend_client-jar/target/
proyecto_prueba/prueba_base_backend/target/
prueba_frontend/prueba_frontend-ear/target/
prueba_frontend/prueba_frontend-ejb/target/
prueba_frontend/prueba_frontend-web/target/
